.main {
    height: 90vh;
    margin-top: 5vh;
    border-radius: 5px;
    text-align: center;
    color: black;
    background:
        radial-gradient(circle at 50% 0,
            rgba(239, 153, 120),
            rgba(255,0,0,0) 70%),
        radial-gradient(circle at 0% 0%,
            rgba(103, 199, 239),
            rgba(0,0,255,0) 70%),
        radial-gradient(circle at 0% 100%,
            rgba(103, 199, 239),
            rgba(0,0,255,0) 70%),
        radial-gradient(circle at 100% 100%,
            rgba(103, 199, 239),
            rgba(0,0,255,0) 70%),
        radial-gradient(circle at 100% 0%,
            rgba(103, 199, 239),
            rgba(0,255,0,0) 70%) beige;
}
